matplotlib
matplotlib-inline
pandas
numpy
scipy
scikit-learn
scikit-image
sympy

ipyleaflet
seaborn
plotly

torch
torchaudio
torchvision

keras

tensorflow
tensorboard

pycocotools # MS CoCo dataset Python API

nltk # Natural Language Toolkit, used here for tokenizing captions
tqdm # Progress bar library
pillow # PIL python image library

# automatic differentiation
micrograd
autograd